<html>

<head>

</head>

<body>
    <h2>Cadastrar Turma</h2>

    <form action="/turmas" method="POST">
        <input type="text" name="nome" placeholder="Nome da turma" required>
        <input type="text" name="turno" placeholder="Turno (Manhã/Tarde)" required>
        <input type="number" name="capacidade" placeholder="Capacidade" required>
        <button type="submit">Salvar</button>
    </form>

    <a href="/">Voltar</a>
</body>

</html>