<html>

<head>

</head>

<body>
    <h2>Cadastrar Professor</h2>

    <form action="/professores" method="POST">
        <input type="number" name ="id" placeholder="ID do professor" required>
        <input type="text" name="nome" placeholder="Nome do professor" required>
        <input type="text" name="disciplina" placeholder="Disciplina" required>
        <input type="text" name="email" placeholder="Email" required>
        <button type="submit">Salvar</button>
    </form>


    <a href="/">Voltar</a>
</body>

</html>