<html>
    <head>

    </head>
    <body>
        <h2>Detalhes do Material</h2>

        <p><strong>ID:</strong> {{material.id}}</p>
        <p><strong>Nome:</strong>{{material.nome}}</p>
        <p><strong>Quantidade:</strong>{{material.quantidade}}</p>

        <a href="/materiais">Voltar</a>
    </body>
</html>