<html>
    <head>

    </head>
    <body>
        <h2>Detalhes da Turma</h2>

        <p><strong>ID:</strong> {{turma.id}}</p>
        <p><strong>Nome:</strong> {{turma.nome}}</p>
        <p><strong>Turno:</strong> {{turma.turno}}</p>
        <p><strong>Capacidade:</strong> {{turma.capacidade}}</p>

        <a href="/turmas">Voltar</a>
    </body>
</html>